{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <script src="{% static 'js/main.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://cdn.rawgit.com/centrifugal/centrifuge-js/2.6.0/dist/centrifuge.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <title>QuestionLess</title>
    </head>

  <body>
    {% include 'inc/header.html' %}

    <section>
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8 blog-main" id="content">
                    {% block content %}{% endblock content %}
                </div><!-- /.blog-main -->
                {% include 'inc/right_menu.html' %}
            </div><!-- /.row -->
        </main>
    </section>

    {% include 'inc/footer.html' %}
  </body>
</html>