{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <h3 class="pb-3 mb-4 border-bottom">Settings: {{ user.username }}</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_field form.username%}
        {% bootstrap_field form.email %}
        {% bootstrap_field form.password %}
        <div>
            <img src="{{ MEDIA_URL }}{{ avatar }}" class="rounded mx-0 d-block mb-3" style="max-width: 200px;">
        </div>
        {% bootstrap_field form.avatar show_label=False %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Save</button>
        {% endbuttons %}
    </form>
{% endblock content %}

